{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": ["react", "flowtype"],
  "extends": [
    "airbnb",
    "prettier",
    "prettier/flowtype",
    "prettier/react",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "flowtype/define-flow-type": 1,
    "linebreak-style": ["error", "windows"],
    "comma-dangle": ["warn", "never"],
    "quotes": ["warn", "single"],
    "react/jsx-filename-extension": [1, { "extensions": [".test.js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "eol-last": ["error", "always"],
    "no-multiple-empty-lines": ["error", { "max": 1 }]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
